.header{
}
.container{
    overflow: scroll;
    height: 80vh;
}
.product-list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.product {
    /* height: 300px;
    width: 100px;
    margin: 8px; */
    height: 400px;
    width: 300px;
    padding: 4px;

}
.product .image {
    height: 80%;
    background-size: cover;
    background-repeat: no-repeat;
}
@media (max-width: 800px) {
    .product-list {
      flex-direction: column;
    }
    .product{
        height: 700px;
        flex-grow: 1;
        width: 100%;
    }
  }